.main-content {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  
  p.hero-text-style {
    color: rgb(207, 115, 173);
    font-size: 5.875em;
  }

  .emergency-contact-container {
    margin-top: 15%;
    align-self: center;
    text-align: center;
    padding: 7px;
    width: 22.3vw;
    background-color: white;
    box-shadow: rgb(177, 177, 177) 10px 10px;
  }
  
  .classes-information-block {
    width: 140vw;
}
.classes-information-block > * {
    margin-left: 5%;
    margin-bottom: 3%;
}
a.class-button {
    width: 150px;
    height: 60px;
    border: 1px solid black;
    background-color:  rgb(252, 181, 181);
    box-shadow: grey 5px 5px;
    padding: 15px;
    text-align: center;
    font-size: auto;   
 margin-top: 10px;
}

.class-button:hover {
    background-color: white;
}

  @media only screen and (max-width: 896px) {
    .hero-text {
      display: none;
    }
  
    .main-content {
      margin-left: 0%;
      margin-right: 0%;
    }
  }
  
  @media only screen and (max-width: 620px) {
    main > * > * {
      width: 100%;
    }
  
    .main-content > * {
      margin: 2%;
      width: 96%;
    }
  
    .main-content > * > * {
      margin: 2%;
      width: 96%;
    }
   
  }
  