.main-content {
    margin-left: 10%;
    margin-right: 10%;
}

.product-name {
    text-align: center;
    margin: 3%;
}

.product-shots-container {
    width: 18vw;
}

.product-shots {
    width: 100%;
}

.product-shots img {
    width: 100%;
}

.main-product-shot-container {
    width: 54.5vw;
}

.main-product-shot {
    width: 100%;
}

.main-product-shot img {
    width: 100%;
}

.order-instructions-container {
    width: 50vw;
}

.order-instructions-container .instruction-title {
    padding: 10px;
}

.order-instructions-container .instructions {
    padding: 10px;
}

.parameters-container > * > * {
    width: 30%;
}

.purchase-button {
    width: 61%;
    height: 4vw;
    background-color: rgb(252, 181, 181);;
}

.purchase-button:hover{
    background-color: white;
}
