.emergency-contact-container {
  width: 12vw;
  height: 11.5vw;
}

.application-button {
  opacity: 0.8;
}

.side-picture {
  height: 42.5vw;
  opacity: 0.6;
}

.bottom-picture {
  height: 7vw;
  opacity: 0.6;
}
